.content {
  // height: calc(100vh - 100px);
  height: 100%;
  padding: 0 24px 24px 24px;
  background: #fff;
  border-radius: 8px;
  .proTable {
    :global {
      .ant-card-body {
        padding: 0;
      }
    }
  }
  form {
    div[imagename='image'] {
      label::before {
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }
  }
    .formType {
    :global {
      .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background: none;
        border: none;
        cursor: auto;
      }
      .ant-form-item-control-input {
        line-height: 32px;
      }

      .ant-input[disabled] {
        color: @text-color;
        text-overflow: ellipsis;
        background-color: inherit;
        border: none;
        cursor: default;
        resize: none;
      }
      .ant-select-disabled {
        .ant-select-selector {
          color: #000;
          background: #fff;
          border-color: #fff;
          cursor: auto;
        }
        .ant-select-arrow {
          display: none;
        }
      }
    }
  }
}
