.list {
  :global {
    .ant-pro-table-search.ant-pro-table-search-query-filter {
      margin-bottom: 0;
      padding: 24px 0 0;

      .ant-col-8 {
        flex: inherit;

        &:nth-last-child(1) {
          position: absolute;
          right: 12px;
        }
      }
    }

    .ant-card-body {
      padding: 0;
    }
  }
}

.putModel {
  .formItem {
    flex-wrap: nowrap;
  }
}
