.Tables{
  :global{
    .ant-card-body{
        padding: 0 24px 24px 24px !important;
    }
    .ant-pro-table-list-toolbar-container{
      padding-top: 16px;
    }
  }
  .searchs {
    display: flex;
    padding: 16px 24px;
    line-height: 2.3;
    background: #fff;

    > div {
      display: flex;
      flex-wrap: wrap;
      margin-right: 16px;

      > span {
        display: inline-block;
      }
    }
  }

}
.TabTop{
    padding: 16px 0;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    &:nth-child(2){
        line-height: 32px;
    }
    >span{
       margin-right: 24px;
        }
}
