:global {
  form > .ant-form-item:last-child {
    margin-bottom: 0;
  }

  // .ant-upload-list-item-card-actions {
  //   display: none;
  // }
}

.footer {
  line-height: 50px;
  text-align: center;
  border-top: solid 1px @border-color-base;

  .divider {
    top: 15px;
    float: right;
    height: 20px;
    border-color: @border-color-base;
  }
}

.pdfCol {
  display: flex;
  margin-bottom: 24px;

  label {
    display: block;
    width: 21%;
    text-align: right;
  }
}
