.Index {
  height: 80vh;
  overflow: hidden;
  background-color: #fff;

  .hello {
    margin-top: 120px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }

  .apply {
    color: #333333;
    font-size: 18px;
    text-align: center;
  }

  img {
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

.pageWrapper {
  .topHeader {
    .headerItem {
      padding: @padding-lg;
      text-align: center;

      h3,
      p {
        margin: 0;
        color: #fff;
      }

      h3 {
        font-weight: bold;
        font-size: 36px;
        line-height: 59px;
      }

      p {
        overflow: hidden;
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .rowWrapper {
    div[class*='ant-col']:nth-child(1) {
      padding-right: 12px;
    }

    div[class*='ant-col'] + div[class*='ant-col'] {
      padding-left: 12px;
    }
  }

  .listWrapper {
    margin-top: @padding-lg;
    :global {
      .ant-card-body {
        padding: 14px 24px;
      }
    }
    div[class*='ant-col']:nth-child(2) {
      padding-right: 12px;
    }

    .annceList {
      height: 190px;
      overflow: hidden;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 10px;
          border-bottom: 1px dashed #dde2e8;

          a {
            display: block;
            display: flex;
            line-height: 22px;

            .Headlines {
              display: inline-block;
              width: 36px;
              height: 22px;
              margin-right: 6px;
              color: #fff;
              font-size: 12px;
              line-height: 22px;
              text-align: center;
              background: #ff4646;
              border-radius: 11px;
            }

            span:nth-of-type(1) {
              flex: 1 1 140px;
              overflow: hidden;
              color: @text-color;
              white-space: nowrap;
              text-overflow: ellipsis;

              // &+span {
              //   color: @normal-color;
              //   width: 140px;
              //   text-align: right;
              // }
            }

            &:nth-last-child(1) {
              padding: 0;
            }

            .XXMC {
              margin-left: 10px;
              padding: 4px 6px;
              color: #999 !important;
              background-color: #efefef;
              border-radius: 8px;
            }
          }

          > p {
            margin: 5px 0px;
            text-align: right;

            span {
              color: @normal-color;
            }
          }
        }
      }

      :global {
        .ant-empty {
          padding: 0;
        }
      }
    }
  }

  .chartWrapper {
    margin-top: @padding-lg;

    .chartContainer {
      > div {
        height: 270px !important;
      }
    }
  }

  :global {
    .ant-card-head-title {
      font-weight: bold;
    }
  }
}
