.teacherWrapper {
  padding: @padding-lg;
  background: #ffffff;

  :global {
    .ant-tabs-nav-list {
      .ant-tabs-tab-btn {
        padding: @padding-sm;
      }
    }
  }

  .teacherInfoBody {
    width: 85%;
    margin: 0 auto;
    min-width: 850px;
    :global{
      .ant-picker{
        width: 100%;
      }
    }
  }
}
