.Index {
  height: 80vh;
  overflow: hidden;
  background-color: #fff;
  .hello {
    margin-top: 120px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  .apply {
    color: #333333;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}
