.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: #fcfcfc;

  .leftBg {
    width: 70%;
    height: 100vh;

    img {
      height: 100%;
    }
  }

  .middleBg {
    position: absolute;
    top: 16vh;
    left: 12vw;
    width: 38vw;

    img {
      width: 100%;
    }
  }

  .rightBg {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;

    img {
      width: 100%;
    }
  }

  .main {
    position: absolute;
    top: calc(~'50vh - 255px');
    left: 55%;
    z-index: 5;
    z-index: 2;
    width: 450px;
    height: 500px;
    padding: 48px;
    border-radius: 16px;

    .top {
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      // margin-bottom: @padding-md;

      img {
        box-sizing: border-box;
        width: 86px;
        height: 86px;
        padding: 10px;
        background-color: #fff;
        border-radius: 20px;
      }

      span {
        margin-bottom: 0;
        // padding-left: @padding-lg;
        font-weight: bold;
        font-size: 18px;
        // line-height: 50px;
      }
    }

    .form {
      padding: @padding-md;

      :global {
        .ant-input-affix-wrapper {
          height: 40px;
          border: 1px solid #eee;
          border-radius: 24px;
        }

        .ant-input-prefix {
          img {
            width: 16px;
            height: 16px;
            margin-left: 8px;
          }
        }
      }

      // :global {
      //   .ant-form-item {
      //     margin-bottom: 32px;

      //     .ant-form-item-label>label {
      //       height: 48px;
      //       color: @text-color;
      //     }

      //     .ant-form-item-control-input-content {

      //       .ant-input-affix-wrapper,
      //       input[id='username'],
      //       input[id='CorpId'] {
      //         box-sizing: border-box;
      //         // width: 100%;
      //         height: 48px;
      //         padding: 0 24px;
      //         background: #f5f5f5;
      //         // border: 1px solid #eee;
      //         border-radius: 24px;

      //         input {
      //           line-height: 38px;
      //           background: none;
      //           box-shadow: none;
      //         }
      //       }
      //     }

      //     .ant-checkbox-wrapper {
      //       align-items: flex-start;
      //       justify-content: flex-end;
      //       width: 100%;
      //       color: @normal-color;
      //     }
      //   }

      //   .ant-checkbox-checked .ant-checkbox-inner {
      //     background: @primary-color;
      //     border-color: @primary-color;
      //   }

      //   .ant-checkbox-wrapper:hover .ant-checkbox-inner,
      //   .ant-checkbox:hover .ant-checkbox-inner,
      //   .ant-checkbox-input:focus+.ant-checkbox-inner {
      //     border-color: @primary-color;
      //   }
      // }

      button {
        width: 100%;
        height: 48px;
        background: @primary-color;
        border-color: @primary-color;
        border-radius: 24px;
      }
    }
  }

  .but {
    color: #fff;
    background: #2f54eb !important;
    // background: linear-gradient(to right, #17e3ff, #0066ff) !important;
    border: 0;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    .leftBg {
      img {
        position: absolute;
        bottom: 0;
        max-width: 100%;
      }
    }

    .middleBg {
      top: 25vh;
      min-width: 400px;
    }

    .main {
      left: calc(~'100vw - 500px');
      padding: 24px;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .middleBg {
      top: auto;
      bottom: 135px;
      left: 25px;
      min-width: 300px;
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    .leftBg {
      position: relative;
      width: 100%;
      height: 100vh;
    }

    .rightBg {
      width: 100%;
    }

    .main {
      top: 0;
      left: 0;
      width: 100%;
      // margin: auto;
      padding: 24px;
      background-color: rgba(255, 255, 255, 1);

      .circular1 {
        position: absolute;
        top: -18vw;
        left: -3vw;
        z-index: 4;
        width: 40vw;
        height: 40vw;
        background: linear-gradient(rgba(23, 227, 255, 0) 0%, #17e3ff 100%) !important;
        border-radius: 50%;
      }

      .circular2 {
        position: absolute;
        top: -45vw;
        right: -4vw;
        z-index: 3;
        width: 80vw;
        height: 80vw;
        background: linear-gradient(rgba(0, 102, 255, 0) 0%, #0063f8 100%) !important;
        border-radius: 50%;
      }

      .top {
        margin-top: 16vw;
      }

      :global {
        .ant-col-offset-3 {
          margin-left: 0;
        }
      }
    }
  }
}
