.TabList{
    :global{
        .ant-card-body{
            padding:24px !important;

        }
    }
}
.TabTop{
    padding: 16px 0;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    >span{
       margin-right: 24px;
        
        
    }
}