.bodyLayout {
  .headerLogoSmall {
    img {
      width: 48px;
    }

    span {
      color: #f0f5f9;
      display: block;
      text-align: center;
      font-size: 12px;
    }
  }

  :global {
    .ant-pagination {
      display: flex;
      justify-content: center;
      margin-top: 46px !important;
    }

    // 调整左侧菜单
    .ant-pro-sider.ant-layout-sider {
      background-color: @second-color;

      & + .ant-layout {
        min-width: 990px;
      }

      .ant-pro-sider-logo {
        justify-content: center;
        height: 100px;
        background-color: rgba(33, 48, 69, 1);

        h1 {
          margin: 0;
          color: #fff;
          text-align: center;
          line-height: 50px;
          display: block;
          font-weight: normal;
          font-size: @font-size-lg;
        }

        img {
          height: auto !important;
        }

        // & + div {
        //   margin-top: @padding-lg;
        // }
      }

      .ant-menu {
        background: transparent;

        .ant-menu-item,
        .ant-menu-submenu {
          .ant-pro-menu-item-title,
          .anticon,
          .ant-menu-submenu-arrow {
            color: rgba(255, 255, 255, 0.6);
          }

          &.ant-menu-item-selected,
          &:active,
          .ant-menu-submenu-title:active {
            // background: rgba(62, 136, 248, 1);

            span {
              color: #fff;
            }
          }
        }

        .ant-menu-inline {
          background: rgba(33, 48, 69, 1);
        }
      }
    }

    .ant-empty {
      padding: @padding-lg;

      .ant-empty-description {
        color: @normal-color;
      }
    }

    // 调整底部菜单
    .ant-layout-footer {
      .ant-pro-global-footer {
        margin: 24px 0;

        .ant-pro-global-footer-links {
          display: none;
        }
      }
    }
  }

  .customPageHeader {
    > div[class*='ant-pro-grid-content'] {
      height: calc(~'100vh - 198px');
    }

    :global {
      .ant-page-header.has-breadcrumb {
        padding-top: @padding-sm;
      }

      .ant-page-header {
        display: flex;
        height: 6vh;
        box-shadow: 0 1px 0 #e3e6f2;

        .ant-page-header-heading {
          flex: auto;
          .ant-page-header-heading-extra {
            margin: 0;
          }
        }

        .ant-breadcrumb {
          display: flex;
          flex: auto;
          align-items: center;
          min-width: 200px;
          text-align: justify;

          > span {
            display: flex;
          }

          & + .ant-page-header-heading {
            width: 200px;
          }
        }
      }

      .ant-pro-grid-content {
        overflow: auto;

        .ant-pro-table {
          .ant-pro-table-list-toolbar-title {
            font-weight: bold;
          }

          .ant-pro-table-list-toolbar-left {
            gap: 0 !important;
          }

          .ant-table table {
            table-layout: inherit !important;
          }
        }
      }

      .cusTitleBar {
        border-bottom: 1px solid #dadada;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        line-height: 60px;
        text-indent: 24px;
      }
    }
  }
}

:global {
  .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background-color: @second-color !important;
  }
}
