.Tables {
  :global {
    .ant-card-body {
      padding: 0 24px 24px 24px !important;
    }
    .ant-pro-table-list-toolbar-container {
      padding-top: 16px;
    }
  }
  .searchs {
    display: flex;
    padding: 16px 24px;
    line-height: 2.3;
    background: #fff;

    > div {
      display: flex;
      flex-wrap: wrap;
      margin-right: 16px;

      > span {
        display: inline-block;
      }
    }
  }
}

.TabTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  font-size: 14px;

  > div {
    margin-right: 24px;
  }
}
