.InfoMaintenance {
  width: 100%;
  margin: 0 auto;
  padding: 16px 24px 24px;
  background-color: #fff;
  > div {
    .header {
      display: flex;
      justify-content: flex-end;
      > div {
        display: flex;
      }
      .name {
        width: auto;
        padding: 0 20px;
        font-size: 20px;
        line-height: 100px;
        text-align: center;
      }
    }
    :global {
      .ant-divider {
        margin-top: 16px;
      }
    }
    .Forms {
      position: relative;
      width: 85%;
      min-width: 850px;
      margin: 0 auto;
      > div:nth-child(2) {
        :global {
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .ant-btn-primary {
              margin-right: 50px;
            }
          }
        }
      }
      .btn {
        padding: 5px 10px;
        color: #fff;
        background: #4884ff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .rows {
        padding-left: 26px;
        :global {
          .ant-col-12 {
            .ant-form-item-label {
              width: 98px;
            }
          }
        }
      }
      :global {
        .ant-form-item {
          flex-direction: initial;
          .ant-form-item-label {
            flex: initial;
            width: 125px;
            text-align: right;
          }
          .ant-input[disabled] {
            color: @text-color;
            text-overflow: ellipsis;
            background-color: inherit;
            border: none;
            cursor: default;
            resize: none;
          }
        }
      }
    }
  }
}
